.board {
    flex: 1 1 auto;
    max-width: 45%;
    @media (max-width: 796px) {
        max-width: 80%;
        margin: 1.5rem auto;
    }
    border: 1px solid black;
}

.row, .infoRow {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex: 0 0 auto;
}

.column {
    background-color: green;
    border: 1px solid black;
    width: 10%;
    padding-top: 10%;
}

.infoColumn {
    display: flex;
    justify-items: center;
    align-items: center;
    padding-right: .8rem;
    max-width: .4rem;
    border: .1rem solid black;
}

.topCell {
    &:first-child {
        max-width: .5rem;
        padding-right: .8rem;
        background-color: white;
        color: white;
        border: none;
    }
    width: 10%;
    text-align: center;
    border: 1px solid black;
}