.wrapper {
    flex: 1 1 auto;
    max-width: 1000px;
    width: 30%;
    padding-top: 4rem;
    align-self: center;
}

.chatBox {
    width: 100%;
    height: 200px;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: min-content;
    padding: .3rem;
    border: 1px solid #ccc;
    border-bottom: none;

    div {
        display: grid;
        grid-template-columns: auto auto 3fr;
        grid-column-gap: .5rem;
    }
}

.systemMessage {
    color: red;
    font-weight: bold;
}

.otherMessage {
    color: navy;
    font-weight: bold;
}

.time {
    font-weight: lighter;
}

.textInput {
    // Calculate width to match chat box with
    // border & padding
    width: calc(100% - 2px + .6rem);
    border: 1px solid #ccc;
}