.table {
    @media (min-width: 797px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.info {
    break-after: always;
    padding: 1rem 0;
}