.table {
    @media (min-width: 797px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.info {
    break-after: always;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    span {
        break-before: always
    }
}