.row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex: 0 0 auto;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.cell {
    &:first-child {
        max-width: .5rem;
        padding-right: .8rem;
        background-color: white;
        color: white;
        border: none;
    }
    width: 10%;
    text-align: center;
    border: 1px solid black;
}