@import "./Board.module.scss";

.wrapper {
    display: flex;
    justify-content: space-between;
}

.prepSection {
    flex: 2 2 auto;
}

.options {
    flex: 0.35 0.35 auto;

    h3 {
        width: 17rem;
    }
}

.table {
    border-collapse: collapse;
    margin-bottom: .5rem;
    tr {
        cursor: pointer;
        &:hover {
            background-color: whitesmoke;
        }

        td:first-child {
            padding: .5rem 2rem .5rem 0rem;
            width: 8rem;
        }
    }
}

.typeVisualisation {
    display: flex;
    padding: .5rem 0;

    div {
        width: 1rem;
        height: 1rem;
        border: 1px solid black;
    }
}

.button {
    display: block;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
    margin: 1.5rem 0;

    color: black;
    background-color: white;
    transition: all .25s ease;

    &:hover {
        color: white;
        background-color: black;
        border: 1px solid white;
    }
}